* {
    box-sizing: border-box;
 
   
    
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 1170px;
    
}

.id {
    width: 201px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding-left: 16px;
}

.title {
    width: 593px;
    height: 45px;
    padding-left: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.createdat {
    width: 201px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding-left: 16px;
}

.search {
    width: 115px;
    height: 45px;
    border-radius: 10px;
    background: #FFD43A;
    border: none;
    cursor: pointer;
}

h6 {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
}
@font-face{
font-family: "fonti";
src: url(./fonts/Inter-Bold.ttf);
}
p {
    margin: 0;
    margin-left: 16px;
    display: flex;
    font-family: "fonti";
}
/*tables*/

table{
    border-collapse: collapse;
    
    
}

.id1{
    
   background-color:#F9F9F9;
    width: 72px;
    height: 57px;
    text-align: center;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;
    
}
h5{
    font-size: 25px;
    font-weight: 700;

}
.title1{
    background-color:#F9F9F9;
    width:444px;
    height: 57px;
    text-align: left;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;

}
.time1{
    background-color:#F9F9F9;
    width: 276px;
    height: 57px;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
.action{
    background-color:#F9F9F9;
    width: 251px;
    height: 57px;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
.time{
    color: red;
    font-weight: bolder;
    text-align: center;
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
.edit1{
    text-align: center;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
.edit2{
    text-align: center;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;

}
button{
    width: 115px;
    height: 36px;
    background-color: #FFD43A;
    border: 1px solid #FFD43A;
    border: 1px solid #FFD43A;
    border-collapse: collapse;
}
.edit2 button{
    background-color: #FF0000;
    width: 115px;
    height: 36px;
   
    border: 1px solid red;
}
.id2{
   
     width: 72px;
     height: 57px;
     text-align: center;
     font-weight: bolder;
     border: 1px solid #DADADA;
     border-collapse: collapse;
     
 }
 .title2{
    
    width:444px;
    height: 57px;
    text-align: left;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;

}
.time2{
    text-align: center;
    color: red;
    width: 276px;
    height: 57px;
    font-weight: bolder;
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
